<!DOCTYPE HTML>
<html>
	<head>
		<title>NBA Results Dataset / {{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>{{title}}</h1>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Teams</a></li>
							<li><a href="/game1">Games</a></li>
							<li><a href="/player">Players</a></li>
							<li><a href="/admin">Admin</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<h2>{{#each game}}{{Team1.TeamName}} <span class="vs">VS</span> {{Team2.TeamName}}{{/each}}</h2>
								<div class="" id="winer">
								</div>

								<br><br>

								<div class="table-wrapper" id="InfosTable">
									<h2>Top 5 - Players</h2>
									<table>
										<thead>
											<tr>
												<th>#</th>
												<th>Player</th>
												<th>Points</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>

								<h2>Details</h2>
								{{#if game}}
									{{#each game}}
									<a href="{{this.URL}}" target="_blank">{{this.URL}}</a>
									{{/each}}
								{{/if}}

							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script type="text/javascript">
				var json_url_score = '/infos{{id}}';
				$.getJSON(json_url_score, function(data) {
					console.log(data);
					$.each(data.infos, function(index, value) {
						console.log(index + 1 +" "+value._id + " " + value.score);
						$("#InfosTable").show();
						$("#InfosTable tbody").append( "<tr><td>"+ (index+1) +"</td><td>"+value._id+"</td><td>"+value.score+"</td></tr>" );
					});
				});
				{{#if game}}
					{{#each game}}
						if ({{this.ResultOfTeam1}} < 0) {
							$("#winer").append("<span>The winer is : <b>{{this.Team2.TeamName}}</b> !</span>");
						}
						else {
							$("#winer").append("<span>The winer is : <b>{{this.Team1.TeamName}}</b> !</span>");
						}
					{{/each}}
				{{/if}}
			</script>
	</body>
</html>
