<!DOCTYPE HTML>
<html>
	<head>
		<title>NBA Results Dataset {{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="images/pic01.jpg" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/pic01.jpg" alt="" /></span>
						<h1>NBA Results Dataset</h1>
						<p>
							Le but de cet exercice est de développer une application avec des données réelles. Nous avons défini les requêtes les plus pertinentes par rapport à ce jeu de données, intégré dans une application dédiée, et défini des vues en fonction des rôles.
						</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#intro" class="active">Select Team</a></li>
							<li><a href="#teamMembers">Team Members</a></li>
							<li><a href="#matchs">Infos Matchs</a></li>
							<li><a href="#cta">Get Started</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{title}}</h2>
										</header>

										{{#if teams}}
										<div class="select-wrapper">
											<select name="teamList" id="teamList" onchange="selectTeam()">
												<option selected value="">- Select a team -</option>
												{{#each teams}}
													<option value="{{this.TeamId}}">{{this.TeamId}}, {{this.TeamName}}</option>
										    {{/each}}
											</select>
										</div>
										{{/if}}
										<br>
										<br>
									</div>
									<span class="image"><img src="images/pic01.jpg" alt="" /></span>
								</div>
								<div class="table-wrapper" id="GamesTable">
									<table>
										<thead>
											<tr>
												<th>Team 1</th>
												<th>Team 2</th>
												<th>Details</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</section>

						<!-- Second Section -->
							<!-- <section id="matchs" class="main special">
								<header class="major">
									<h2>Sports results</h2>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-thumbs-o-up"></span>
										<strong id="win">0</strong> Win
									</li>
									<li class="style2">
										<span class="icon fa-minus-square-o"></span>
										<strong id="draw">0</strong> Draw
									</li>
									<li class="style3">
										<span class="icon fa-thumbs-o-down"></span>
										<strong id="lose">0</strong> Lose
									</li>
								</ul>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button">Voir tous les matchs</a></li>
									</ul>
								</footer>
							</section> -->

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script type="text/javascript">
				$("#GamesTable").hide();
				$("#matchs").hide();

				function selectTeam() {
					var teamId = $("#teamList").val();
					if (teamId != "") {

						var json_url_score = '/team'+teamId;
						$.getJSON(json_url_score, function(data) {
							$("#GamesTable tbody").empty();
							console.log(data);
							$.each(data.game, function(index, value) {
								console.log(value.Team1.TeamName+" VS "+value.Team2.TeamName);
								$("#GamesTable").show();
								$("#GamesTable tbody").append( "<tr><td>"+value.Team1.TeamName+"</td><td>"+value.Team2.TeamName+"</td><td><a href='/game"+value.GameId+"' class='button'>Détail du match</a></td></tr>" );
								$("table tbody tr").click(function() {
									window.location.href += 'game'+value.GameId;
								});
							});
						});

					}
					else {
						$("#GamesTable").hide();
					}
				}
			</script>
	</body>
</html>
