<!DOCTYPE HTML>
<html>
	<head>
		<title>NBA Results Dataset / {{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>{{title}}</h1>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Teams</a></li>
							<li><a href="/game1">Games</a></li>
							<li><a href="/player">Players</a></li>
							<li><a href="/admin">Admin</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{title}}</h2>
										</header>

										{{#if players}}
										<div class="select-wrapper">
											<select name="playersList" id="playersList" onchange="selectPlayer()">
												<option selected value="">- Select a team -</option>
												{{#each players}}
													<option value="{{this.PlayerId}}">{{this.PlayerName}}</option>
												{{/each}}
											</select>
										</div>
										{{/if}}
										<br>
										<br>
									</div>
									<span class="image"><img src="images/pic01.jpg" alt="" /></span>
								</div>
								<div class="table-wrapper" id="InfosTable">

								</div>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script type="text/javascript">
				$("#InfosTable").hide();
				function selectPlayer() {
					var playerId = $("#playersList").val();
					if (playerId != "") {
						var json_url_score = '/playerInfos'+playerId;
						$.getJSON(json_url_score, function(data) {
							$("#InfosTable").empty();
							console.log(data);
							$.each(data.player, function(index, value) {
								console.log(value.Player.PlayerName);
								$("#InfosTable").show();
								$("#InfosTable").append("<h2 class='button special'>GameId: "+value.GameId+"</h2>"
									+'<table><thead><tr><th>Actions</th><th>Count / Game</th></tr></thead><tbody>'
									+ '<tr><td>FieldGoalsMade</td><td>'+value.FieldGoalsMade+'</td></tr>'
									+ '<tr><td>OffensiveRebounds</td><td>'+value.OffensiveRebounds+'</td></tr>'
									+ '<tr><td>DefensiveRebounds</td><td>'+value.DefensiveRebounds+'</td></tr>'
									+ '<tr><td>TotalRebounds</td><td>'+value.TotalRebounds+'</td></tr>'
									+ '<tr><td>BlockedShots</td><td>'+value.BlockedShots+'</td></tr>'
									+ '<tr><td>BlocksAgainst</td><td>'+value.BlocksAgainst+'</td></tr>'
									+ '<tr><td>Total points</td><td>'+value.Points+'</td></tr>'
									+ '</tbody></table>')
								$("#InfosTable h2").click(function() {
									window.location.href = '/game'+value.GameId;
								});
							});
						});
					}
					else {
						$("#InfosTable").hide();
					}
				}
			</script>
	</body>
</html>
